<h1>Nav bar</h1>
<center>
  <p>Welcome to my Task Management System</p>
</center>

<table>
  <thead>
    <th>one</th>
    <th>two</th>
    <th>three</th>
  </thead>
  <tr>
    <td>a</td>
    <td>b</td>
    <td>c</td>
  <tr>
</table>
